 {% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Job Board</title>
        <meta charset="UTF-8">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    </head>


    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Pathjump</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
              <li class="divider-vertical"></li>
              {% if user.is_authenticated %}
                  <li><a href='/account/profile'>Profile</a></li>
              {% endif %}
                <li class="divider-vertical"></li>
              {% if user.is_authenticated %}
                <li><a href='/job/board'>Jobs</a></li>
              {% endif %}
              <li class="divider-vertical"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                  <li><a href="/account/logout">Logout</a></li>
              {% else %}
                  <li><a href="/account/login">Login</a></li>
                  <li><a href="/account/register">Register</a></li>
              {% endif %}
            </ul>
          </div>
      </nav>
      <div class='row' id="robs_row">
        <div class='col-sm-2'>
        </div>
        {% for post in job_list %}
        <div class='col-sm-2 job_square'>
          <a href="/job/show_post/{{ post.id }}" target="_blank">{{ post.title }}</a>
          <br>
          <br>
          Company: Company Name
          <br>
          <br>
          Location: City Name
          <br>
          <br>
          Description: This is the description of a job.
        </div>
        <div class='col-sm-1'>
        </div>
        {% endfor %}
      </div>

      <ul>
        {% for post in job_list %}
          <li><a href="/job/show_post/{{ post.id }}" target="_blank">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      <a href="/job/board/1">First</a>&nbsp;
      {% for number in page_number_list %}
      <a href="/job/board/{{ number }}">{{ number }}</a>&nbsp;
      {% endfor %}
      <a href="/job/board/{{ page_number_list|length }}">Last</a>
    </body>


  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
</html>
