{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PathJump</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
</head>
<body id="profile_body">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Pathjump</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li class="divider-vertical"></li>
            <li><a href="account/profile/">Profile</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="row" id="profile_row_1">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3" id="profile_pic">
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3" id="job_recs">
      <div class="row title">
        Job Recommendations
      </div>
      <div class="row rec">
        <div class='col-sm-4' id="job_company_1">
          Barclays
        </div>
        <div class='col-sm-4' id="job_position_1">
          <a href="https://barclays.taleo.net/careersection/application.jss?lang=en_GB&type=1&csNo=2&portal=101430233&reqNo=2217070&isOnLogoutPage=true">Analyst</a>
        </div>
        <div class='col-sm-4' id='job_image_1'>
          <img src="{% static "img/Barclays-Logo1.png" %}" style="width:65px;height65px">
        </div>
      </div>
      <div class="row rec">
        <div class='col-sm-4' id='job_image_2'>
          <img src="{% static "img/chase20logo.png" %}" style="width:75px;height65px">
        </div>
        <div class='col-sm-4' id="job_company_2">
          JP Morgan
        </div>
        <div class='col-sm-4' id="job_position_2">
          <a href="http://careers.jpmorgan.com/careers/programs/investor-services-fulltime-analyst">Analyst</a>
        </div>
      </div>
      <div class="row rec">
        <div class='col-sm-4' id="job_company_3">
          Goldman Sachs
        </div>
        <div class='col-sm-4' id="job_position_3">
          <a href="http://www.goldmansachs.com/careers/why-goldman-sachs/our-divisions/investment-banking/positions/analyst.html">Analyst</a>
        </div>
        <div class='col-sm-4' id='job_image_3'>
          <img src="{% static "img/Goldman_Sachs.svg-1.png" %}" style="width:75px;height65px">
        </div>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3" id="to_do_list">
       <div class="row title">
        To Do List
      </div>
      <div class="row rec">
        <div class='col-sm-4' id='todo_image_1'>
          <img src="{% static "img/Meetup.png" %}" style="width:75px;height55px">
        </div>
        <div class='col-sm-4' id="todo_text_1">
          <a href="http://www.meetup.com/New-York-Finance-And-Banking-Meetup/">Local Finance Meetup</a>
        </div>
        <div class='col-sm-3' id="todo_check_1">
          <label><input type="checkbox" value=""></label>
        </div>
      </div>
      <div class="row rec">
        <div class='col-sm-8' id='todo_text_2'>
          Update 'Skills' on your Pathjump Profile!
        </div>
        <div class='col-sm-3' id="todo_check_2">
          <label><input type="checkbox" value=""></label>
        </div>
      </div>
      <div class="row rec"></div>
    </div>
  </div>

  <div class="row" id="button_list">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-2 profile_button" id="education_display_button">
      Education
    </div>
    <div class="col-lg-1 button_list_background">
    </div>
    <div class="col-lg-2 profile_button" id="experience_display_button">
      User Info
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2 profile_button" id="skills_display_button">
      Experience
    </div>
    <div class="col-lg-2">
    </div>

  </div>

    <div class="row" id="education_text">
      <div class="col-lg-1 profile_margin">
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4" >
        <h1>Education</h1>
        <div class="row" id="profile_info_1">
          <div>
            <span id="university_name">{{ profile_form.university }}
            </span>
            <hr>
            <span id="degree_info">Masters Degree class of 2017
            </span>
          </div>
        <div class="row" id="profile_info_2">
          <div id="about_me">
            <span class="bold_me">Enrolled: </span><span id="enrolled_input">May 2015</span>
          </div>
        </div>
        <div class="row" id="profile_info_3">
          <div id="fun_fact">
            <span class="bold_me">Majors: </span><span id="majors_input">Economics, Philosophy</span>
          </div>
        </div>
        <div class="row" id="profile_info_4">
          <div id="languages">
            <span class="bold_me">GPA:
            </span>
            <span id="gpa_input">4.0
            </span>
          </div>
        </div>
        </div>
        <!-- <img src="img/images.png"> -->
      </div>
      <!-- <div class="col-sm-2">
      </div>
      <div class="col-sm-4" id="school_logo">
      </div> -->
      <div class="col-lg-5">
      </div>
      <div class="col-lg-1 profile_margin">
      </div>
    </div>

    <div class="row" id="user_info_text">
      <div class="col-lg-1 profile_margin">
      </div>
      <div class="col-lg-1">
      </div>

      <div class="col-lg-4" id="profile_text_1">
        <h1>User Name</h1>
        <div class="row" id="profile_info_1">
          <div><span id="university_name">{{ profile_form.university }}</span> || <span id="graduation_date">Class of 2017</span></div>
        <hr>
        <div class="row" id="profile_info_2">
          <div id="about_me">
            <span class="bold_me">About Me: </span><span id="about_me_input">I did some things</span>
          </div>
        </div>
        <div class="row" id="profile_info_3">
          <div id="fun_fact">
            <span class="bold_me">Fun Fact: </span><span id="fun_fact_input">I am a fun fact</span>
          </div>
        </div>
        <div class="row" id="profile_info_4">
          <div id="languages">
            <span class="bold_me">Languages Spoken: </span><span id="language_input">I am a language</span>
          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-5">
      </div>
      <div class="col-lg-1 profile_margin">
      </div>
    </div>

    <div class='row' id="work_experience_text">
      <div class="col-lg-1 profile_margin">
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4" id="work_ex">
        <h1>Work History</h1>
        <div class="row" id="profile_info_1">
          <div>
            <span id="years_worked">Years of experience:
            </span>
            <span id="years_input">3
            </span>
          </div>
        </div>
          <hr>
        <div class="row" id="profile_info_2">
          <div id="about_me">
            <span class="bold_me">Company Name: </span><span id="company_input">Google</span>
          </div>
        </div>
        <div class="row" id="profile_info_3">
          <div id="fun_fact">
            <span class="bold_me">Job Title: </span><span id="job_title_input">CEO</span>
          </div>
        </div>
        <div class="row" id="profile_info_4">
          <div id="languages">
            <span class="bold_me">Description:
            </span>
            <span id="job_description_input">I ran the compnay and made lots of money
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
      </div>
      <div class="col-lg-1 profile_margin">
      </div>

    </div>


  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
</body>
</html>
