{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show Profile</title>
</head>
<body>
  {{ user.username }}<br>
  {{ user.email }}<br>
  {{ user.first_name }}<br>
  {{ user.last_name }}<br>
  {{ profile.university_1 }}<br>
  {{ profile.university_grad_date_1 }}<br>
  {{ profile.major_1 }}<br>
  {{ profile.gpa_1 }}<br>
  {{ profile.university_2 }}<br>
  {{ profile.university_grad_date_2 }}<br>
  {{ profile.major_2 }}<br>
  {{ profile.gpa_2 }}<br>
  {{ profile.university_3 }}<br>
  {{ profile.university_grad_date_3 }}<br>
  {{ profile.major_3 }}<br>
  {{ profile.gpa_3 }}<br>
  {{ profile.company_1 }}<br>
  {{ profile.job_title_1 }}<br>
  {{ profile.job_desc_1 }}<br>
  {{ profile.company_2 }}<br>
  {{ profile.job_title_2 }}<br>
  {{ profile.job_desc_2 }}<br>
  {{ profile.company_3 }}<br>
  {{ profile.job_title_3 }}<br>
  {{ profile.job_desc_3 }}<br>
  {{ profile.about_me }}<br>
  {{ profile.fun_fact }}<br>
  {{ profile.skill }}<br>
  {{ profile.birthday }}<br>
  {{ profile.country }}<br>
  {{ profile.city }}<br>
  {{ profile.address }}<br>
  {{ profile.zipcode }}<br>
  {{ profile.user_val }}<br>
  {% if profile_form.picture %}
    <img src="{{profile_form.picture.url}}"><br>
  {% else %}
    No picture<br>
  {% endif %}
</body>
</html>
