 {% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Profile Update</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">

    </head>

    <body>

                {% if update_success %}
                <strong>Your account was updated successfully.</strong>
                {% else %}

                <form id="profile_form" method="post" action="/account/update/"
                        enctype="multipart/form-data">{% csrf_token %}
                    Website: {{profile_form.website}}<br>
                    University: {{profile_form.university}}<br>
                    Date of Birth: {{profile_form.birthday}}<br>
                    Country: {{profile_form.country}}<br>
                    City: {{profile_form.city}}<br>
                    Address: {{profile_form.address}}<br>
                    Zip Code: {{profile_form.zipcode}}<br>
                    Profile Picture: {{profile_form.picture}}<br>
                    <input type="submit" name="submit" value="Update" />{% csrf_token %}
                </form>

                {% endif %}
    </body>
</html>
